* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  background: #EEEEEE;
  background: #efefef;
}

.mainContainer {
  margin: 1rem 0;
}

.footerContainer {
  max-height: 30vh;
}

.bgCards {
  background-color: #930000;
  padding: 2rem;
}

.bgCards p {
  font-size: 0.8rem;
  line-height: 1.2;
}

/* Contact */
.imgEscuela {
  width: 60vw;
  max-height: 600px;
  object-fit: fill;
}

.letterSpace {
  letter-spacing: 3px;
}

.mainContactoContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 2rem;
}

.catalogo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/*header*/

.navbarHeader{
  height: 150px !important;
}

.search-results {
  position: absolute;
  left: 0;
  top: 0;
  margin-top: 38px;
  z-index: 100;
}

.navbarItems{
  margin: 0 100px 0 100px;
}

.logoImg {
  width: 100px;
}

.iconContainer{
  width: 50px;
  margin-right: 50px;
  align-content: space-between;
}

.headerSectionAboutUs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 2px;
}

.navItemsContainer{
  display: flex;
  justify-content: space-between;
}

.hidden {
  display: none;
}

@media (max-width: 768px) {
  .headerSectionAboutUs {
    grid-template-columns: 1fr 1fr;
  }
  .headerSectionAboutUs article {
    height: 200px;
  }
  .bgCards {
    background-color: #930000;
    padding: 1rem;
  }
  .bgCards p {
    font-size: 0.5rem;
    line-height: 1.2;
  }
  .bgCards h5 {
    font-size: 0.7rem;
  }
  .iconContainer{
    margin-right: 0;
  }
  .navItemsContainer{
    display: flex;
    justify-content: left;
  }
}

@media (max-width: 576px) {
  .headerSectionAboutUs {
    grid-template-columns: 1fr 1fr;
  }
  .headerSectionAboutUs .card {
    max-width: 100%;
  }
}

/*index*/
.indexPresentation{
  min-height: 90vh;
  background-image: url('public/assets/images/bibliobackground.webp');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.indexPresentation h4{
  padding: 10px;
  border-radius: 10px;
  background-color: #2c2b2bb2;
  color: #e0e0e0;
}

.imgBackground{
  width: 100vw;
  height: 500px;
  object-fit: cover;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 50px;
  margin-top: -px;
}

.cardPresentation{
  display: flex;
  flex-direction: row;
  padding: 0 5rem;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.cardPresentation div span{
  position: absolute;
  background-color: #505794e3;
  width: 250px;
  height: 250px;
  border-radius: 0 100px;
  left: 0;
  bottom: 0;
  z-index: -1;
}

.cardPresentation div img{
  width: 200px;
  border-radius: 50px;
  margin-left: 25px;
  margin-bottom: 20px;
}

.textPresentation{
  height: 350px;
}

.textPresentation p{
  text-align: justify;
  font-size: 17px;
  font-weight: 400;
}
/*detalle del libro*/

.containerBook{
  min-height: 75vh;
}

.libro-detalle{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  border-radius: 10px;
  padding: 20px;
  background-color: #e0e0e0;
}

.libro-detalle img{
  width: 250px;
  border-radius: 10px;
}

.infoBook{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 2rem; 
}

@media (max-width: 768px) {
  .libro-detalle{
    flex-direction: column;
  }
  .cardPresentation{
    flex-direction: column;
    gap: 0;
    margin-bottom: 50px;
  }
}